

  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    height: 8vh;
    padding: 0 8em;
}

header img{
    height: 7vh;
    
}

nav > ul{
    display: flex;
    gap: 2em;
    list-style: none;
    align-items: center;
}

li > img{
   height: 4vh;
}

#img {
    transition: transform 0.3s ease;
    font-size: 1.5em;
  }

main{
    height: calc(100vh - 16vh);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.container img{
    height: 30vh;
}

#p1{
    justify-self: center;
    text-align: center;
}

button{
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 5%;
    border-radius: 10px;
    border:none ;
    
}


.texto{
    padding: .5em;
    
}

#informacao{
    margin:  1% auto;
    padding: 1em;
    font-weight: bold;
    background-color: rgb(37, 37, 119);
    color: white;
    border: none;
}

span{
    position: sticky;
   font-size: 4em;
   bottom: 0;
   float: right;
   
}


footer{
    display: grid;
    place-items: center;
    background-color: black;
    height: 8vh;
    color: white;
}